.header{
    width:1540px;
    position:fixed;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-bottom:solid #b7b7b7; 
    border-width: 1px; 
  }